/**
 * Base styles  
 */
html a {
  text-decoration: none;
}

/**
 * Input, form - width block  
 */

.input-width {
  width: 12rem;
}

@media screen and (max-width: 992px) {
  .input-width {
    width: 100%;
  }

  .form-width {
  	width: 100%;
  }
}