.indicator {
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  right: 0;
}

.is-online {
  width: 0.7rem;
  height: 0.7rem;
  bottom: 0;
}

.is-unread {
  width: 0.4rem;
  height: 0.4rem;
  top: 0;
}

